.containerLogo {
    display:flex;
    justify-content: center;
}

.navBar {
 margin: 20px 0px;
 font-family: system-ui;
 align-items: center;
 padding: 10px 12px;
 background-color: #e3e3e3;
}

.endNavBar{
    flex-direction: row;
    gap: 18px;
}

.link {
    color:black;
    font-weight: 500;
    font-size: .8em;
}

.link:hover{
    opacity: 0.6;
}
